/* Tamanhos de IMGs e Icones */
%tamanhoMinilImg {
    width: 12px;
    height: 12px;
}

%tamanhoNormalImg {
    width: 16px;
    height: 16px;
}

%tamanhoLargeImg {
    width: 24px;
    height: 24px;
}

/* Ação do Hover nas cores solidas */
